**/myenv/

# ZenML local config
**/.zen/

# Python cache and build artifacts
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.egg-info/
**/build/
**/dist/

# Virtual environments
**/.venv
**/venv/
**/.env

**/node_modules/
**/package-lock.json

# Jupyter notebooks
**/.ipynb_checkpoints/

# IDE settings
**/.vscode/
**/.idea/

**/.DS_Store

# Logs
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*

**/Thumbs.db


Build Pipeline Plugin Pipeline Pipeline: Stage View Plugin Copy Artifact Plugin Deploy to container Plugin Email Extension Plugin GitHub plugin

conf/tomcat-users.xml
<role rolename="manager-script"/>
<user username="admin" password="admin123" roles="manager-script"/>
</tomcat-users>

:8080/manager/text/list
:8080/webapp

stmp.gmail.com
465
SSL
GitScm
ngrok http 8888
cmxa tusx ppax ubpv

sudo docker build –t mywebapp .
sudo docker run –d –p 80:80 mywebapp

minikube start --driver=docker
minikube status
minikube kubectl -- get pods -A
kubectl version --client
minikube start
kubectl create deployment mynginx --image=nginx
kubectl get deployments
kubectl get pods
kubectl expose deployment mynginx --type=NodePort --port=80 --target-port=80
kubectl scale deployment mynginx --replicas=4
kubectl port-forward svc/mynginx 8081:80
kubectl delete deployment mynginx
kubectl delete service mynginx
minikube stop


docker pull jasonrivers/nagios:latest
docker run --name nagiosdemo -p 8888:80 jasonrivers/nagios:latest
nagiosadmin
nagios